.bp-edit div.lens {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #8bf;
}
.bp-edit div.lens.focus {
    background-color: #06f;
}
.bp-edit form {
    border: 1px dashed #f88;
}
.bp-edit form::before {
    float: right;
    content: "Form";
    border-bottom: 1px dashed #f88;
    border-left: 1px dashed #f88;
    color: #f88;
}
.bp-edit .form-group {
    border: 1px dashed #fb4;
}
.bp-edit .form-group::before {
    float: right;
    content: "Form Group";
    border-bottom: 1px dashed #fb4;
    border-left: 1px dashed #fb4;
    color: #fb4;
}
.bp-edit .btn-toolbar {
    border: 1px dashed #88f;
}
.bp-edit .btn-toolbar::before {
    float: right;
    content: "Button Toolbar";
    border-bottom: 1px dashed #88f;
    border-left: 1px dashed #88f;
    color: #88f;
}
.bp-edit .btn-group, .bp-edit .btn-group-vertical {
    border: 1px dashed #6cf;
}
.bp-edit .btn-group::before, .bp-edit .btn-group-vertical::before {
    float: right;
    content: "Button Group";
    border-bottom: 1px dashed #6cf;
    border-left: 1px dashed #6cf;
    color: #6cf;
}
.bp-edit .btn-group > .btn {
    float: none;
}
