div.lens {
    background-color: #8bf;
    display: inline-block;
    height: 20px;
    width: 20px;
}
div.lens.focus {
    background-color: #06f;
}
form {
	border: 1px dashed #f88;
}
form::before {
	color: #f22;
	content: "FORM";
}
